<launch>
  <arg name="sched_conf_path" default="/shared/KU-CSL-Research/autoware.ai_rtg-sync/AGX_tests/fullstack_autoware/sched_conf.csv" />

  <node name="sched_server" pkg="sched_server" type="sched_server" output="screen">
    <param name="sched_conf_path" value="$(arg sched_conf_path)" />
  </node>

</launch>
